img{
    object-fit: contain;
    height: auto;
}
.about_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
}
.trophy{
    width: 30%;
}
.trophy2{
    width: 75%;
    margin: 15px;
}
h5{
    margin: 15px;
}
.about_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    max-width: 70%;
}