
.product_upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid red;
    margin: 15px 10px;
    padding: 1rem;
}
.product_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 1.2rem;
}
.products{
    object-fit: contain;
    height: auto;
    width: 75%;
    margin-bottom: 20px;
}
.product_container{
    max-width: 100vw;
    margin: 5px;
}
.product_headers{
    font-weight: 500;
    font-size: 1.1rem;
}
.product_bottom h4{
    margin: 1rem 0;
}

